In [3]:
import pandas as pd
import numpy as np 
import os
notebook_path = os.path.abspath("EDA.ipynb")

In [4]:
notebook_path

'C:\\Users\\benjamin\\Desktop\\Job-Funnel-ds-Data\\notebooks\\EDA.ipynb'

In [5]:
job_listings = os.path.join(os.path.dirname(notebook_path), "job_listings.csv")

df = pd.read_csv(job_listings)

C:\Users\benjamin\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (6,10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df.head()

,Unnamed: 0,post_date_utc,pay_min,pay_max,pay_exact,title,seniority,job_id,description_x,company_id,keyphrase,location_id,name,description_y,size,revenue,logo_url,city,state_province,country
0,0,2020-01-31 21:55:07.257399+00:00,30000.0,100000.0,89000.0,software dev,junior,1.0,job 1 this is a great place to work,1.0,"java, ruby",1.0,IBM,IBM is the largest technology and consulting e...,500000.0,7.900000e+10,https://coda.newjobs.com/api/imagesproxy/ms/mm...,oakland,california,USA
1,1,2020-01-31 21:55:07.257399+00:00,30000.0,100000.0,89000.0,software dev,junior,4.0,job 4 this is a great place to work,1.0,NaN,1.0,IBM,IBM is the largest technology and consulting e...,500000.0,7.900000e+10,https://coda.newjobs.com/api/imagesproxy/ms/mm...,oakland,california,USA
2,2,2020-02-04 18:27:17+00:00,NaN,NaN,NaN,Research Software Engineer,NaN,2034.0,**Introduction**\n \nIBM Research Scientists ...,1.0,NaN,835.0,IBM,IBM is the largest technology and consulting e...,500000.0,7.900000e+10,https://coda.newjobs.com/api/imagesproxy/ms/mm...,oakland,california,USA
3,3,2020-02-04 20:00:45+00:00,NaN,NaN,NaN,2020 Intern - Back End Developer,NaN,2473.0,**Introduction**\n \nSoftware Developers at I...,1.0,NaN,1045.0,IBM,IBM is the largest technology and consulting e...,500000.0,7.900000e+10,https://coda.newjobs.com/api/imagesproxy/ms/mm...,oakland,california,USA
4,4,2020-02-04 20:01:52+00:00,NaN,NaN,NaN,Entry Level - Back End Developer,NaN,2493.0,**Introduction**\n \nSoftware Developers at I...,1.0,NaN,688.0,IBM,IBM is the largest technology and consulting e...,500000.0,7.900000e+10,https://coda.newjobs.com/api/imagesproxy/ms/mm...,oakland,california,USA

In [7]:
df.columns

Index(['Unnamed: 0', 'post_date_utc', 'pay_min', 'pay_max', 'pay_exact',
       'title', 'seniority', 'job_id', 'description_x', 'company_id',
       'keyphrase', 'location_id', 'name', 'description_y', 'size', 'revenue',
       'logo_url', 'city', 'state_province', 'country'],
      dtype='object')

In [9]:
df.seniority.value_counts()

some guy    2
junior      2
senior      2
Name: seniority, dtype: int64

(118782, 20)